<div class="add-recipe">
	<div class="add-recipe__text">
		<h3 class="heading__tertiary">Or manually ad recipe</h3>
	</div>
	<form action="/add" method="post" class="add-recipe__form">
		<label for="title">Title: </label>
		<input
			id="title"
			class="input"
			type="text"
			name="title"
			placeholder="Chicken with "
			value="<%=recipe.title%>"
		/>

		<label for="ingredients">Ingredients: </label>
		<input
			id="ingredients"
			class="input"
			type="text"
			name="ingredients"
			placeholder="chicken, rice "
			value="<%-recipe.ingredients%>"
		/>

		<label for="link">Link: </label>
		<input
			id="link"
			class="input"
			type="text"
			name="link"
			placeholder="https://"
			value="<%=recipe.link%> "
		/>

		<button type="submit" value="Add" class="btn-animated">
			Add
		</button>
	</form>
</div>
