<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('header'); -%>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    New recipe
                </div>
                <div class="card-body">
                    <form action="/add" method="post">

                        <label for="name">Name: </label>
                        <input id="name" class="form-control" type="text" name="name" placeholder="Chicken with ">
                        
                        <label for="ingredients">Ingredients: </label>
                        <input id="ingredients" class="form-control" type="text" name="ingredients" placeholder="chicken, rice ">

                        <label for="link">Link: </label>
                        <input id="link" class="form-control" type="text" name="link" placeholder="https://">

                        <input type="submit" value="Add" class="btn btn-primary">
                    </form>
                </div>
              </div>
              <% if (message) {%>
              <p class="success"><%=message%></p> 
              <% } %>
        </div>
        <%- include('scripts'); -%>
    </body>
</html>