<div class="scrap">
	<div class="scrap__text">
		<h3 class="heading__tertiary">
			Paste link 
			
		</h3>
		<span class="scrap__text--small">(only
			<a href="https://kwestiasmaku.com" target="_blank"> kwestiasmaku </a> for
			now)</span>
		</div>
	<form action="/scrape" method="post" class="scrap__form">
		<input
			id="scrap_link"
			class="input input--animated"
			type="text"
			name="scrap_link"
			placeholder="https://"
		/>

		<button type="submit" value="Analize page" class="input__btn">
			<ion-icon name="cog-outline"></ion-icon>
		</button>
	</form>
</div>
