<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <%- include('header'); -%>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    What do you have in the fridge?
                </div>
                <div class="card-body">
                    <label for="ingredient">New ingredient</label>
                    <input type="text" class="form-control" placeholder="milk,butter,sos" id="ingredient" aria-label="ingredient" aria-describedby="ingredient">
                    <button class="btn btn-primary" id="addIngredientsButton"> Add</button>
                </div>
              </div>

        </div>
        <script src='/js/addIngredient.js'></script>
    </body>
</html>