<html>
	<%- include('head'); -%>
	<body>
		<div class="container">
			<div class="content">
				<%- include('header'); -%>

				<main class="main">
					<div class="search search--center">
						<div class="search__text">
							<h3 class="heading__tertiary">
								What do you have in your fridge?
							</h3>
						</div>
						<form action="#" class="search__form">
							<input
								type="text"
								class="input input--animated"
								placeholder="milk, butter, sos"
								id="ingredient"
							/>
							<button class="input__btn" id="addIngredientsButton">
								<ion-icon name="search-outline"></ion-icon>
							</button>
						</form>
					</div>
					<% if (recipes.length > 0 ) { %> <%- include('recipes'); -%> <% } %>
				</main>
			</div>
		</div>
		<script src="/js/addIngredient.js"></script>
		<%- include('scripts'); -%>
	</body>
</html>
