<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('header'); -%>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    What do you have in the fridge?
                </div>
                <div class="card-body">
                    <label for="ingredient">New ingredient</label>
                    <input type="text" class="form-control" placeholder="milk, butter, sos" id="ingredient" aria-label="ingredient" aria-describedby="ingredient">
                    <button class="btn btn-primary" id="addIngredientsButton"> Search</button>
                </div>
              </div>
              <% if (recipes.length > 0 ) { %>
                <%- include('recipes'); -%>
              <% } %>
        </div>
        <%- include('scripts'); -%>
    </body>
</html>