@keyframes slide-right {
	from {
		transform: translateX(200%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes flash {
	0% {
		transform: translateY(-200%);
	}

	10% {
		transform: translateY(0);
	}

	90% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-200%);
	}
}
